<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Challenge</ion-title>
    </ion-navbar>
</ion-header>

<challenge></challenge>