#eatMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 140px;
    height: 400px;
}

#eatMeFlex {
    flex-grow: 5;
}
#eatMeCanvas {
    border:5px solid black;
}

#scoreLabel {
    flex-grow: 1;
    font-size: 50px;
    font-weight: bold;
}

#highScoreFlex {
    flex-grow: 1;
}

#health {
    font-weight: bold;
    font-size: 36px;
}

#healthLabel {
    font-weight: bold;
    font-size: 36px;
    color: red;
}

#highScore {
    font-weight: bold;
    font-size: 36px;
}

#highScoreLabel {
    font-weight: bold;
    font-size: 36px;
    color: blue;
}

ion-footer {
    display: flex;
    flex-direction: column
}

ion-icon {
    font-size: 50px;
    align-self: center;
}