<div id="eatMeContainer">
    <div id="highScoreFlex">
        <span id="highScoreLabel">HIGH SCORE: </span>
        <span id="highScore">{{highScore}}</span>
    </div>
    <div id="healthFlex">
        <span id="healthLabel">HEALTH: </span>
        <span id="health">{{health}}</span>
    </div>
    <div id="eatMeFlex">
        <canvas #eatMeCanvas id="eatMeCanvas"></canvas>
    </div>
    <div id="scoreLabel">{{score}} pts</div>
</div>
<ion-footer>
    <ion-icon center id="reload" name="refresh" (click)="reload()"></ion-icon>
</ion-footer>