<div id="challengeContainer">
    <div id="challengeFlex">
        <canvas #challengeCanvas id="challengeCanvas"></canvas>
    </div>
    <div id="counter">{{collisionCounter}}</div>
    <div id="counterLabel">Bounces</div>
</div>
<ion-footer>
    <ion-icon center id="reload" name="refresh" (click)="reload()"></ion-icon>
</ion-footer>