
#challengeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    height: 350px;
}

#challengeFlex {
    flex-grow: 1;
}
#challengeCanvas {
    border:5px solid black;
}

#counter {
    flex-grow: 1;
    font-size: 50px
}

#counterLabel {
    flex-grow: 10;
    font-size: 15px
}

ion-footer {
    display: flex;
    flex-direction: column
}

ion-icon {
    font-size: 50px;
    align-self: center;
}

