<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div id="container">
        <div id="challengeButton">
            <button ion-button large round class="homeButton" (click)="onChallengeClicked()">Challenge</button>
        </div>
        <div id="eatMeButton">
            <button ion-button large round class="homeButton" (click)="onEatMeClicked()">Eat Me</button>
        </div>
    </div>
</ion-content>