#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
    margin-top: 230px;
}

#challengeButton {
    flex-grow: 1;
    align-self: center;
}

#eatMeButton {
    flex-grow: 1;
    align-self: center;
}

.homeButton {
    width: 300px;
}