<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item class="settingsItem">
            <ion-label>Gravity</ion-label>
            <ion-select [(ngModel)]="settings.gravity">
                <ion-option [value]="0.0063">0.25x</ion-option>
                <ion-option [value]="0.0125">0.5x</ion-option>
                <ion-option [value]="0.025">1x</ion-option>
                <ion-option [value]="0.05">2x</ion-option>
                <ion-option [value]="0.1">4x</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="settingsItem">
            <ion-label>Ball Size</ion-label>
            <ion-select [(ngModel)]="settings.ballSize">
                <ion-option [value]="3">X-Small</ion-option>
                <ion-option [value]="5">Small</ion-option>
                <ion-option [value]="10">Medium</ion-option>
                <ion-option [value]="15">Large</ion-option>
                <ion-option [value]="20">X-Large</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="settingsItem">
            <ion-label>Ball Color</ion-label>
            <ion-select [(ngModel)]="settings.ballColor">
                <ion-option [value]="black">Black</ion-option>
                <ion-option [value]="red">Red</ion-option>
                <ion-option [value]="green">Green</ion-option>
                <ion-option [value]="blue">Blue</ion-option>
                <ion-option [value]="pink">Pink</ion-option>
                <ion-option [value]="purple">Purple</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="settingsItem">
            <ion-label>Health</ion-label>
            <ion-select [(ngModel)]="settings.health">
                <ion-option [value]="1">1</ion-option>
                <ion-option [value]="3">3</ion-option>
                <ion-option [value]="5">5</ion-option>
                <ion-option [value]="10">10</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="settingsItem">
            <ion-label>Sound</ion-label>
            <ion-toggle [(ngModel)]="settings.isSoundOpen"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button ion-button large full end (click)="updateSettings()">Apply Changes</button>
    </ion-toolbar>
</ion-footer>