<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Eat Me</ion-title>
    </ion-navbar>
</ion-header>

<eat-me-game></eat-me-game>